{% extends "Hospital/hospital_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class ="table table-hover table-striped">
    <tr>
      <td>Job Name </td>
      <td>Details</td>
      <td>Date</td>
      <td>Criteria</td>
      <td>&nbsp;</td>
    </tr>

    {% for i in val %}
    <tr>
      <td>{{i['name']}}&nbsp;</td>
      <td>{{i['details']}}&nbsp;</td>
      <td>{{i['date']}}&nbsp;</td>
      <td>&nbsp;{{i['criteria']}}</td>
      <td>
      <p><a href="delete_job?id={{i['id']}}">delete</a></p></td>
    </tr>
    <tr>
      <td colspan="5"><label>

        <!--<input name="Add" type="submit" id="Add" value="Add" />-->
      </label></td>
    </tr>

    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}