<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="display_complaints">
  <table border="1">
    <tr>
      <td colspan="4"><label>
        <select name="select">

          <option {% if ctype =="Pending"%} selected {% endif %}>Pending</option>
          <option {% if ctype =="Solved"%} selected {% endif %}>Solved</option>

        </select>
        <select name="select2">
          <option {% if utype =="Nurse"%} selected {% endif %}>Nurse</option>
          <option  {% if utype =="Hospital"%} selected {% endif %}>Hospital</option>
        </select>
        <input name="View" type="submit" id="View" value="view" />
      </label></td>
    </tr>
    <tr>
      <td>Name </td>
      <td>complaint</td>
      <td>Date</td>
      <td>&nbsp;</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['fname']}} {{i['lname']}}</td>
      <td>{{i['complaint']}}</td>
      <td>{{i['date']}}</td>
      <td><a href="Reply?id={{i['id']}}">Send Reply</a></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
</html>