{% extends "Admin/admin_index.html" %}
{% block body %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class ="table table-hover table-striped">
    <tr>
      <td>Name</td>
      <td>Location</td>
      <td>Email</td>
      <td>Web Site</td>

      <td>&nbsp;</td>
    </tr>
     {% for i in val %}
    <tr>
      <td>{{i['name']}}</td>
      <td>&nbsp;{{i['location']}}</td>
      <td>&nbsp;{{i['contactno']}}</td>
      <td>{{i['websiteurl']}}&nbsp;</td>
      <td><p><a href="accept_hospital?id={{i['lid']}}">Accept</a></p>
      <p><a href="reject_hospital?id={{i['lid']}}">Reject</a></p></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>

{% endblock %}
