{% extends "Admin/admin_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class ="table table-hover table-striped">
    <tr>
      <td>Name</td>
      <td>Nurse ID </td>
      <td>Speciality</td>
      <td>Experience</td>
      <td>&nbsp;</td>
    </tr>

    {% for i in val %}
    <tr>
      <td>{{i['fname']}}{{i['lname']}}</td>
      <td>&nbsp;{{i['nurseid']}}</td>
      <td>&nbsp;{{i['speciality']}}</td>
      <td>{{i['experience']}}&nbsp;</td>
      <td><p><a href="accept_nurse?id={{i['lid']}}">Accept</a></p>
      <p><a href="reject_nurse?id={{i['lid']}}">Reject</a></p></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}