{% extends "Nurse/nurse_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="insert_review">
  <table width="200" border="1" class ="table table-hover table-striped">
    <tr>
	<th>Hospital Name</th>
      <td><label>
        <select name="select">

          {% for i in val %}
          <option value="{{i['lid']}}">{{i['name']}}</option>
          {% endfor %}

        </select>
      </label></td>
    </tr>

    <tr>
	<th>Review</th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>

	 <tr>
      <th colspan="2"><input type="submit" value="Submit" /></th>
    </tr>

  </table>
</form>
</body>
</html>
{% endblock %}
