{% extends "Nurse/nurse_index.html" %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class ="table table-hover table-striped">
    <tr>
      <td>Hospital</td>
      <td>Job Name </td>
      <td>Details</td>
      <td>Date</td>
      <td>Criteria</td>
      <td>&nbsp;</td>
    </tr>

    {% for i in val %}

    <tr>
      <td>{{i['hname']}}</td>
      <td>{{i['name']}}</td>
      <td>{{i['details']}}</td>
      <td>{{i['date']}}</td>
      <td>{{i['criteria']}}</td>
      <td><a href="apply_job?id={{i['id']}}">apply</a></td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
</html>
{% endblock %}
